.bottom-view-main-container {
  min-height: 50vh;
}
.visited-countries-text {
  font-family: 'Roboto';
  font-size: 32px;
  color: #ffffff;
}
.list-container-bottom-view {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}
.no-coutries-container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-countries-visited-text{
  font-family: "Roboto";
  font-size: 32px;
  color: #ffffff;
}