.heading-top-view {
  font-family: 'Roboto';
  font-size: 32px;
  color: #ffffff;
}
.list-container {
  list-style-type: none;
  padding: 0px;
  border: 1px solid #f8fafc;
  border-bottom: none;
  border-radius: 14px;
  line-height: 0;

  overflow: auto;
  height: 30vh;
}
.list-items {
  width: 100%;
}
.items-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 11px;
}
.text-para {
  font-family: 'Roboto';
  font-size: 28px;
  color: #f1f5f9;
}
.buttn {
  background-color: #3b82f6;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  padding: 5px;
  height: 40px;
  width: 100px;
  border: none;
  cursor: pointer;
}
.harizontal-line {
  width: 100%;
  margin-top: 13px;
}
